{% extends 'base.html' %}
{% block content %}
    <h1>Enterprise Dataset Management System</h1>
    {% for dataset in datasets %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ dataset.owner }}</a>
              <small class="text-muted">{{ dataset.date_added }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ dataset.name_or_title }}</a></h2>
              <p class="article-content">{{ dataset.format }}</p>
              <p class="article-content">{{ dataset.description }}</p>
              <p class="article-content">{{ dataset.download_url }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

