<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    {% if title %}
        <title>EDMS - {{ title }}</title>
    {% else %}
        <title>EDMS</title>
    {% endif %}

    {% block styles %}
       <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_styles.css') }}">
    {% endblock styles %}
</head>

<body>
{% include '_incs/_navbar.html' %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
        <!-- This handles the various alert messages and flash messages.-->
        {% with messages = get_flashed_messages(with_categories=true) %}

           {% if messages %}

               {% for category, message in messages %}
                   <div class="alert alert-{{ category }}">
                        {{ message }}
                   </div>
               {% endfor %}

           {% endif %}

        {% endwith %}

    <!-- This content block can be overridden by data from your custom pages -->
        {% block content %}
        {% endblock content %}
    </div>

  <!-- This div-area handles the side-column that holds the ckan-wit resources -->
    <div class="col-md-4">
      <div class="content-section">
        <h5>Source dataset using ckan-wit</h5>
          <p class='text-muted'>
              <small>Installing the ckan-wit package into this CMS provides the add-on benefit of the source-dataset below</small>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('europe') }}"> Europe's Datasets </a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('america') }}"> America's Datasets  </a> </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('africa') }}"> Africa's Datasets  </a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('asia') }}"> Asia's Datasets  </a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>



<!---  This block javascript is the base JS, it can extended and used in your custom pages.--->
{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock javascript %}
</body>
</html>