{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">User login</legend>

                <div class="form-group">
                    {{ form.email.label(class='form-control-label') }}
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control.lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control form-control.lg') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class='form-control-label') }}
                    {% if form.password.errors %}
                        {{ form.password(class='form-control form-control.lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control form-control.lg') }}
                    {% endif %}
                </div>

                <div class="form-check custom-control custom-checkbox">
                    {{ form.remember_me(class='form-check-input custom-control-input') }}
                    {{ form.remember_me.label(class='form-check-label custom-control-label ml-2') }}
                </div>
            </fieldset>
            <div class="form-group">
                    {{ form.submit(class='btn btn-outline-success btn-lg') }}
                    <small class="text-muted ml-2">
                        <a href="{{ url_for('reset_password_request') }}">Forgot password?</a>
                    </small>
            </div>

        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account ? <a href="{{ url_for('new_user_registration') }}" class="ml-3"> Register now </a>
        </small>
    </div>
{% endblock content %}